.body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width:1160px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: left;    
  }

#scroll{
    position: fixed;
    margin: 0;
    top: 0;
    width: 2000px;
    margin-left: -440px;
    transition-duration: 0.4s
    
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#panimg{
  width: 160%;
}


nav {
    text-align: center;
    font-weight: bold;
    font-size:20px;
    transition: opacity 0.3s cubic-bezier(0.42, -0.52, 0.25, 1)
}

nav a {
    text-decoration: none;
    color: white;
    
}
 
#p {
    text-align: left;
    font-size: 30px;
    margin-left: -150px;
}

.Allcontent {
    display: grid;
    gap: 90px;
    padding: 16px;
    padding-top: 110px;
}

.container{
    border: 1px solid #fff;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, auto));
}
.Rectangles{
  margin-top: 40px;
  margin-left: 65px;
  border: 2px solid transparent;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px , auto));
}
.login_grid{
    border: 1px solid #fff;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, auto));
    gap: 100px;
}
.topPage{
    border: 60px solid #fff;
    }

.course {
    background-color: #fff;
    padding: 75px;
   
}

#textPaner{
  text-align: left;
    font-size: 60px;
    margin-left: -180px;
    font-weight: bold;
    margin-top: 130px;
}

.rectangle {
  width: 230px;
  height: 250px;
  background-color: transparent;
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 30px; 
  border-radius: 10px;
}
.pr{
    margin-top: 230px;
    font-size: xxx-large;
}
.pr1{
    text-align: left;
    font-size: 26px;
}

.p{
    font-size: xx-large;
    color: #fff;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
    justify-content: center;
    margin-left: 400px;
}


#footer {
    font-size: small;
    position: fixed;
    width:2000px;
    background-color: #333;
    color: white;
    transition: bottom 0.3s ease-in-out; /* Add a smooth transition effect */
  }



.slides {
    display: flex; 
}

.slides img {
  width: 60%;
  height: auto;
  padding-left: 77px;
  
}
 

  #topPageBtn{
    background-color: darkgray;
    border-radius: 5px;
    margin-left: 450px;
    border: none; /* يزيل الحدود */
    padding: 10px 20px; /* تعيين هوامش داخلية للزر */
    font-size: 16px; /* حجم الخط */
    color: #000000; /* لون النص */
    cursor: pointer; 
  }
  

  
  .button1 {
    background-color: #686968; /* لون الخلفية */
    border: none;
    color: rgb(0, 0, 0); /* لون النص */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  
  
  #a {
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: x-large;
  }

  #textRectanglep1 {
    text-align: center;
  }

  #cnterText{
    text-align: center;
    margin-top: 30px;
    font-size: xxx-large;
  }

  #titleCourses{
    margin-left: 130px;
    font-size: x-large;
  }